.fetchInput{
  width: 72%;
  /* width: 100%; */
  border: 3px solid #BE0000;;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #BE0000;
}
.fetchButton{
width: 23%;
/* width: 40px; */
  height: 36px;
  border: 1px solid #BE0000;
  background: #BE0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.fetchContainer{
    padding-bottom: 21px;
    width: 400px;

}
.Centralization{
  position:relative;
    margin-top: 25px;
  
    left: 50%;
    
    margin-left: -11em;

}
.tablescroll{
    max-height: 600px;
    overflow-y: scroll;
}
